  <div style="width: 30%; padding: 5rem">
        <div class="card card--primary">
            <header class="card__header">Card Header</header>
            <div class="card__body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore quas officia, unde
                vero illo velit eaque magni aut exercitationem quae!</div>
        </div>
    </div>
    <div style="width: 30%; padding: 5rem">
        <div class="card card--secondary">
            <header class="card__header">Card Header</header>
            <div class="card__body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore quas officia, unde
                vero illo velit eaque magni aut exercitationem quae!</div>
        </div>
    </div>