 <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Products</h2>
            <svg class="icon icon-white collapsible__icon">
                <use xlink:href="images/images/sprite.svg#chevron"></use>
            </svg>
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, harum aperiam laborum mollitia debitis
            facilis corporis, maxime ipsa ad vero modi placeat eaque veritatis autem nobis. Repudiandae culpa doloremque
            porro?
        </div>
    </div>
    <script src="js/main.js"></script>