    <div class="block block--dark block--skewed-left hero">
        <div class=" container grid grid--12">
            <header class="block__header hero__content">
                <h1 class="block__heading">Cloud J Uplift your content</h1><br>
                <p class="hero__tagline">An iconic Tech Experience...</p>
                <a href="#" class="btn btn--accent btn--long">Get Started</a>
            </header>
            <img class="hero__image" src="images/images/banner1.webp" alt="banner">
        </div>
    </div>