 <div class="media">
        <div class="media__image">
            <svg class="icon icon-primary">
                <use xlink:href="images/images/sprite.svg#snap"></use>
            </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente sequi rem tempore voluptas
                laboriosam, voluptatum ipsam quam atque. Ipsa veritatis odio vero nobis numquam pariatur repudiandae a
                error. Iusto, delectus quisquam numquam quae nihil nulla sunt tenetur omnis velit, ea beatae aliquam
                deserunt perspiciatis ut hic aliquid, illum soluta!</p>
        </div>
    </div>