<blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tenetur delectus fuga,
            quasi doloremque
            dicta numquam dolorum dolore quo veritatis deleniti, ut modi cum perferendis laudantium tempora blanditiis!
            At, facere?</p>
        <footer>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon-primary">
                        <use xlink:href="images/images/sprite.svg#line"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="quote__author">Sonu Shah</h3>
                    <p class="quote__org">Code Company</p>
                </div>
            </div>
        </footer>
    </blockquote>