 <section class="block block--dark block--skewed-right block--showcase">
        <header class="block__header">
            <h2 class="block__heading">User friendly Control Panel</h3>
        </header>
        <div class="container grid grid--12">
            <picture class="block-showcse__image">
                <source type="images/webp" srcset="images/inages/ipad.webp 1x,images/images/ipad@2x.webp 2x">
                <source type="images/png" srcset="images/inages/ipad.png 1x,images/images/ipad@2x.png 2x">
                <img class="block-showcse__image" src="images/images/ipad.png" alt="ipad">
            </picture>
            <ul class="list">
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/images/sprite.svg#snap"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Easy Start & Managed Updates</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente sequi rem
                                tempore voluptas
                                laboriosam, voluptatum ipsam quam atque. Ipsa veritatis odio vero nobis numquam pariatur
                                repudiandae a
                                error. Iusto, delectus quisquam numquam quae nihil nulla sunt tenetur omnis velit, ea
                                beatae aliquam
                                deserunt perspiciatis ut hic aliquid, illum soluta!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/images/sprite.svg#growth"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Easy Start & Managed Updates</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente sequi rem
                                tempore voluptas
                                laboriosam, voluptatum ipsam quam atque. Ipsa veritatis odio vero nobis numquam pariatur
                                repudiandae a
                                error. Iusto, delectus quisquam numquam quae nihil nulla sunt tenetur omnis velit, ea
                                beatae aliquam
                                deserunt perspiciatis ut hic aliquid, illum soluta!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/images/sprite.svg#wordpress"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Easy Start & Managed Updates</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente sequi rem
                                tempore voluptas
                                laboriosam, voluptatum ipsam quam atque. Ipsa veritatis odio vero nobis numquam pariatur
                                repudiandae a
                                error. Iusto, delectus quisquam numquam quae nihil nulla sunt tenetur omnis velit, ea
                                beatae aliquam
                                deserunt perspiciatis ut hic aliquid, illum soluta!</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>